/* основной цвет текст #757575
вторичный цвет текста  #212121
белый цвет #FFFFFF
цвет ел адреса и телефона в футере rgba (255, 255, 255, 0.6)
цвет акцента #2196F3
цвет кнопок, цвет секции Наша команда #F5F4FA
цвет футера #2F303A */

/* * {outline: 1px solid tomato} */

:root { 
   --primery-text-color: #757575;
   --secondary-text-color: #212121;
   --accent-color: #2196F3;
   --footer-text-color: rgba (255, 255, 255, 0.6);
   --white-color: #FFFFFF;
   --footer-backround-color: #2F303A;
}

body {
   background-color: var(--white-color);
   color: var(--primery-text-color);

   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul {
      margin: 0;
      padding: 0;
   }


   .page-studio h2 {
   color: var(--secondary-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   }

/* Logo */
a.logo {
   display: block;
   margin-left: 0px;
   color:#000000;

   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   text-decoration: none;
}

.page-footer .logo {
   color: var(--white-color);
}

.logo .first-part { 
   color: var(--accent-color);
}

/* Site header */
.page-header {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.page-header.container {
   display: flex;
   align-items: center;

}

.site-nav {
   margin-left: 93px;
}

.site-nav-list {
   display: flex;
   margin-top: 0px;
   margin-bottom: 0px;

   list-style: none;
}

.site-nav-list .item {
   margin-right: 50px;
}

.site-nav-list .item:last-child {
   margin-right: 0px;
}

.site-nav-list .link {
   display: inline-block;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 32px;
   padding-bottom: 32px;

   color: var(--secondary-text-color);
   text-decoration: none;
}

.site-nav-list .link.current {
   color: var(--accent-color);
}

.page-header .link:hover,
.page-header .link:focus {
color: var(--accent-color);
}

.contact-list {
   display: flex;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: auto;
   list-style: none;
}

.contact-list.item {
   margin-right: 50px;
}

.contact-list .item:last-child {
   margin-right: 0px;
}

.contact-list.link {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 32px;
   padding-bottom: 32px;
   color: var(--primery-text-color);
   text-decoration: none;
}

.contact-list .link:last-child {
   margin-right: 0px;
}

/* Сторінка Студія */
/* Hero section */
.hero {
   text-align: center;

   background-color: var(--footer-backround-color);
}

.hero-title {
   margin-top: 0px;
   margin-bottom: 30px;
   
   color: var(--white-color);
   
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}

.btn-hero {
   min-width: 215px;
   padding: 10px 32px;
   border-radius: 4px;
   border: 1px solid var(--accent-color);
   background-color: var(--accent-color);
   
   color: var(--white-color);

   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.06em;

   cursor: pointer;
}

/* Features section */ 
.features-title {
   display: none;
}

.features-list.container {
   margin-bottom: 94px;
}

.features p {
   line-height: 1.7;
   letter-spacing: 0.03em;
}

.feature-list.title {
   margin-bottom: 10px;

   color: var(--secondary-text-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.features-list {
   list-style: none;
   display: flex;
}

.features-list.item {
   display: block;
   margin-right: 30px;
   width: 270px;
}

.features-list.item:nth-child(4n) {
   margin-right: 0;
}

/*  What we do section  */
.work-title {
   margin-bottom: 50px;
}

.work.container {
   margin-bottom: 94px;
}

.work-list {
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
   list-style: none;
}

.work-item {
   display: block;
   margin-right: 30px;
}

.work-item:nth-child(3n) {
   margin-right: 0px;
}

/* Our team section  */
   .teams {
      padding-top: 94px;
      padding-bottom: 94px;
      background-color: #F5F4FA;
}

   .team-title {
      margin-bottom: 50px;
}

   .team-list {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
}

   .team-list.item {
      display: block;
      margin-right: 30px;

      text-align: center;
      background-color: var(--white-color);   
}

   .team-list.item:last-child {
      margin-right: 0px;
}

.team-list.img {
   margin-bottom: 30px;
}

.team-list-title {
      margin-bottom: 10px;
      
      color: var(--secondary-text-color);

      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
}

   .team-list-text {
      margin-bottom: 30px;
      color: var(--primery-text-color);

      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
}

/* Contact section */
.page-footer {
   background-color: var(--footer-backround-color);
}
.page-footer.container {
padding-top: 60px;
padding-bottom: 60px;
}

a.page-footer.logo {
   display: block;
   margin-bottom: 20px;
}

.footer-contact-list {
   list-style: none;
}

.footer-contact-list.item {
margin-bottom: 9px;
}

.footer-contact-list-link {
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
   font-style: normal;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
}

.location {
   color: var(--white-color);
}

/* Сторінка Портфоліо */
/* Filter */
.page-header {
   border-bottom: 1px solid #ECECEC;
   border
} 

.page-header.container {
   margin-bottom: 94px;
   border: none;
}

.portfolio-header {
   display: none;
}

.filter-list {
   display: flex;
   justify-content: center;

   margin-bottom: 50px;

   list-style: none;
}

.filter-item {
   display: block;

   margin-right: 8px;
}

.filter-item:last-child {
   margin-right: 0px;
}

   .button {
   border-radius: 4px;
   padding: 6px 32px;
   border: 1px solid transparent;

   color: var(--secondary-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;

   background-color:#F5F4FA;

   cursor: pointer;
}

.filter:hover,
.filter:focus {
   color: var(--white-color);
   background-color: var(--accent-color);
}

/* Portfolio */
.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 34px; 
}

.portfolio-list-item {
   display: block;
   margin-right: 30px;
   margin-bottom: 30px;

   background-color: var(--white-color);

   list-style: none;
}

.portfolio-list-item:nth-child(3n) {
   margin-right: 0px;
}

.portfolio-list-item:nth-last-child(-n+3) {
   margin-bottom: 0px;
}

.portfolio-list-title {
   color: var(--secondary-text-color);

   font-weight: 700;
   font-size: 18px;
   line-height: 2.0;
   letter-spacing: 0.06em;
}
.portfolio-list-link {
   color: var(--primery-text-color);

   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;

   text-decoration: none;
}

.portfolio-list-img {
   display: block;
  /*  margin-bottom: 20px; */
}

.portfolio-list-title {
   margin: 0px 24px 4px;
}

.portfolio-list-text {
   margin: 0px 24px 20px;
}
.card {
   padding-top: 20px;
   border: 1px solid #EEEEEE;
}